.chart {
	font: menu;
	background: white;
	color: black;
	overflow: hidden;
	position: relative;
}

.chart .legend {
	float: left;
	border: 1px solid black;
	background: white;
	padding: 5px 10px 5px 10px;
}

.chart .legend ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

.chart .legend ul li {
	list-style: square;
}

.chart .legend ul li span {
	color: black;
}
