include README
include INSTALL
include TODO

recursive-include src/config *
recursive-include src/language_sources *
recursive-include src/report_template *
revursive-include src/scans *
recursive-include doc *
